.amazon-items-fieldset {
  width: auto;
  }
.amazon-items iframe {
  height: 240px;
  width: 120px;
  }
.amazon-items dl {
  float: left;
  padding: 5px;
  }
.amazon-items dl.imgsmall {
  width: 100px;
  }
.amazon-items dl.imgmedium {
  width: 150px;
  }
.amazon-items dl.imglarge {
  width: 350px;
  }
.amazon-items dt {
  text-align: center;
  }
.amazon-items dd {
  font-size: x-small;
  margin: 0px;
  text-align: center;
  }
.amazon-items-item {
  text-align: center;
  padding: 10px 0px;
  font-size: 0.75em;
  }